//
// Global variables for Bootstrap customization.
// To override any Bootstrap variable safely you can use _variables.demo.scss
//

// Bootstrap base colors
$white:    											#ffffff !default;
$black:    											#000000 !default;
$gray-100: 										    if(isThemeModeDark(), #1b1b29, #F5F8FA) !default;
$gray-200: 										    if(isThemeModeDark(), #2B2B40, #EFF2F5) !default;
$gray-300: 										    if(isThemeModeDark(), #323248, #E4E6EF) !default;
$gray-400: 										    if(isThemeModeDark(), #474761, #B5B5C3) !default;
$gray-500: 										    if(isThemeModeDark(), #565674, #A1A5B7) !default;
$gray-600: 										    if(isThemeModeDark(), #6D6D80, #7E8299) !default;
$gray-700: 										    if(isThemeModeDark(), #92929F, #5E6278) !default;
$gray-800: 										    if(isThemeModeDark(), #CDCDDE, #3F4254) !default;
$gray-900: 										    if(isThemeModeDark(), #FFFFFF, #181C32) !default;
$text-muted:                                        $gray-500 !default;

// Bootstrap gray colors map
$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
	"700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
) !default; // Custom variable

// Bootstrap custom colors
$blue:    #009ef6 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

// Bootstrap colors map
$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
) !default;


// Bootstrap contextual colors

// Primary colors

$primary-blue:              #5080C1 !default;
$primary-blue-active:       #24519E !default; // Custom variable
$primary-blue-light:        if(isThemeModeDark(), #294D78, #D1EBF7) !default; // Custom variable
$primary-blue-inverse:      $white !default;  // Custom variable

$primary-pink:              #F29FBF !default;
$primary-pink-active:       #DC7EA0 !default; // Custom variable
$primary-pink-light:        if(isThemeModeDark(), #9A345C, #F6BCD2) !default; // Custom variable
$primary-pink-inverse:      $white !default;  // Custom variable

$primary-yellow:            #FDCE75 !default;
$primary-yellow-active:     #FABA59 !default; // Custom variable
$primary-yellow-light:      if(isThemeModeDark(), #A36A1F, #FEDC9C) !default; // Custom variable
$primary-yellow-inverse:    $white !default;  // Custom variable

$primary:                   #736FB2 !default;
$primary-active:            #5C5BA5 !default; // Custom variable
$primary-light:             if(isThemeModeDark(), #32315A, #CDC5E3) !default; // Custom variable
$primary-inverse:           $white !default;  // Custom variable


// Dark colors
$dark:          		    if(isThemeModeDark(),#232731,#FFFFFF) !default; // Bootstrap variable
$dark-active:          		if(isThemeModeDark(),#1F232C,#DADADA) !default;
$dark-light:          	    if(isThemeModeDark(),#161921,#F6F6F6) !default;
$dark-inverse:         		if(isThemeModeDark(),#232731,#FFFFFF) !default; // Custom variable

// Secondary colors
$secondary:     			#B2B2B2 !default; // Bootstrap variable
$secondary-active:  		#9D9D9C !default; // Custom variable
$secondary-light:  			if(isThemeModeDark(),#5D5F5E,#C6C6C6) !default; // Custom variable
$secondary-inverse:			$gray-800 !default; // Custom variable

// Light colors
$light:     				$gray-100 !default; // Bootstrap variable
$light-active:  			$gray-300 !default; // Custom variable
$light-inverse:				if(isThemeModeDark(),$gray-800, $gray-600) !default; // Custom variable
$lighten:                   rgba($light, 0.5); // Custom variable

// Success colors
$success:       			#53B68B !default; // Bootstrap variable
$success-active:    		#4DA981 !default; // Custom variable
$success-light:    			if(isThemeModeDark(), #2D684C, #8CCAAE) !default; // Custom variable
$success-inverse:  			$white !default; // Custom variable

// Inco colors
$info:         		 		#7663A9 !default; // Bootstrap variable
$info-active:   		 	#6E5C9D !default; // Custom variable
$info-light:   		 		if(isThemeModeDark(), #433966 , #9185BE) !default; // Custom variable
$info-inverse: 		 		$white !default; // Custom variable

// Warning colors
$warning:       			#F5C22A !default; // Bootstrap variable
$warning-active:    		#F3B430 !default; // Custom variable
$warning-light:    			if(isThemeModeDark(), #A07113, #F4CE6F) !default; // Custom variable
$warning-inverse:  			$white !default; // Custom variable

// Danger colors
$danger:        			#E8443A !default; // Bootstrap variable
$danger-active:     		#DE2E2A !default; // Custom variable
$danger-light:     			if(isThemeModeDark(), #84191A, #E58583) !default; // Custom variable
$danger-inverse:   			$white !default; // Custom variable

// White colors
$white:    					$white !default; // Bootstrap variable
$white-active:    			$gray-100 !default; // Custom variable
$white-inverse:    			$gray-600 !default; // Custom variable


// Theme colors
$theme-colors: (
	"white":      $white,  // custom color type
    "primary":    $primary,
    "primary-blue":     $primary-blue,
    "primary-pink":    $primary-pink,
    "primary-yellow":    $primary-yellow,
    "light":      $light,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "dark":       $dark
) !default;

// Hover colors
$theme-active-colors: (
	"white":      $white-active,   // custom color type
    "primary":    $primary-active,
    "primary-blue":    $primary-blue-active,
    "primary-pink":    $primary-pink-active,
    "primary-yellow":    $primary-yellow-active,
    "secondary":  $secondary-active,
    "light":      $light-active,
    "success":    $success-active,
    "info":       $info-active,
    "warning":    $warning-active,
    "danger":     $danger-active,
    "dark":       $dark-active
) !default;  // Custom variable

// Inverse colors
$theme-inverse-colors: (
	"white":      $white-inverse,
    "primary":    $primary-inverse,
    "primary-blue":    $primary-blue-inverse,
    "primary-pink":    $primary-pink-inverse,
    "primary-yellow":    $primary-yellow-inverse,
    "secondary":  $secondary-inverse,
    "light":      $light-inverse,
    "success":    $success-inverse,
    "info":       $info-inverse,
    "warning":    $warning-inverse,
    "danger":     $danger-inverse,
    "dark":       $dark-inverse
) !default;  // Custom variable

// Light colors
$theme-light-colors: (
    "success":    $success-light,
    "primary":    $primary-light,
    "primary-blue":    $primary-blue-light,
    "primary-pink":    $primary-pink-light,
    "primary-yellow":    $primary-yellow-light,
    "info":       $info-light,
    "warning":    $warning-light,
    "danger":     $danger-light,
    "dark":       $dark-light
) !default;  // Custom variable

// Text colors
$theme-text-colors: (
    "white":      $white,
    "primary":    $primary,
    "primary-blue":    $primary-blue,
    "primary-pink":    $primary-pink,
    "primary-yellow":    $primary-yellow,
    "secondary":  $secondary,
    "light":      $light,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "dark":       $dark,
    "muted":      $text-muted,
    "gray-100":   $gray-100,
    "gray-200":   $gray-200,
    "gray-300":   $gray-300,
    "gray-400":   $gray-400,
    "gray-500":   $gray-500,
    "gray-600":   $gray-600,
    "gray-700":   $gray-700,
    "gray-800":   $gray-800,
    "gray-900":   $gray-900
) !default;  // Custom variable

